* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    background: #000000;
    color: #ffffff;
    font-family: "Forum", serif;
  }
  

  #top_block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #333232;
  }
  

  #top_block #user_name {
    margin-left: 20px;
    font-weight: bold;
  }
  

  #top_block #action_button {
    margin-left: auto;
    width: 100px;
    height: 30px;
  }


  #top_block #avatar_image {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: 0;
  }


  button {
    border: 0;
    border-radius: 5px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
    transition: all 500ms ease;
  }


  button:hover {
    background: #ffffff;
    color: #000000;
  }


  #button_container_bottom {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
  }
  
  #button_container_bottom button {
    margin: 0 10px;
    height: 30px;
    width: 200px;
  }